.logo {
  width: 60px;
  height: 40px;
}
.men {
  color: red;
  text-decoration: none;
  }
  .women {
    color: red;
    text-decoration: none;
  }
  .boys {
    color: red;
    text-decoration: none;
  }
  .girls {
    color: red;
    text-decoration: none;
  }
  .customize {
    color: red;
    text-decoration: none;
  }
  .help {
    color: red;
    text-decoration: none;
  }
  .myaccount {
    color: red;
    text-decoration: none;
  }
  .shoppingcart {
    color: red;
    text-decoration: none;
  }
.redbackground {
  background: linear-gradient(to right, #ff0066 0%, #cc0000 100%);
}

.blackshoe {
  width: 300px;
  height: 160px;
}

h1 {
  color: white;
  font-size: 22px;
}

.Lorem {
  color: white;
  font-size: 9px;
}

.onetwenty {
  color: white;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

.contenthere {
  font-size: 8px;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
  font-weight: bold;
}

.read {
  font-size: 8px;
}

h5 {
  background-color: #fbdfe3;
  font-size: 15px;
  text-align: center;
  padding: 20px;
}

.blueshoe {
  width: 170px;
  height: 120px;
}

.blueshoe2 {
  width: 170px;
  height: 120px;
}
.shoe4 {
  width: 170px;
  height: 120px;
}
.FunnySneakers {
  color: white;
}
.shipping {
  color: gray;
  }
.termsandconditions {
  color: gray;
}
.copyright {
  color: gray;
}
