*{
  font-family: arial;

}
.header{
  margin: 10px 5px 10px 5px;
}
.logo {
  width: 60px;
  height: 40px;
  border: 1px;
  padding: 20px;
  vertical-align: top;
}
.menulist{
  color: #ff512f;
  text-decoration: none;
  border: 1px;
  cursor: pointer;
  font-weight: bold;
  margin: 0,0,0,40px;
  padding: 0;
  line-spacing: 5px;
  display: inline block;
  text-align: center;
  list-style-type: none;
 }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  }
  li {
    display: inline;
  }
  .help {
    color: red;
    text-decoration: none;
    text-align: right;
    border: 1px;
  }
  .myaccount {
    color: red;
    text-decoration: none;
    border: 1px;
}
  .shoppingcart {
    color: red;
    text-decoration: none;
    text-align: right;
    border: 1px;
  }

  .backtoallshoes {
    color: white;
    text-decoration: none;
    border: 1px;
    margin: 40px;
    padding: 10px;
  }
.redbackground {
  background: linear-gradient(to right, #ff0066 0%, #cc0000 100%);
  border: 1px;
  height: 600px;
}

.blackshoe {
  width: 300px;
  height: 200px;
  border: 1px;
  margin: 20px;
  display:inline-block;
}
.quicksneakersblock{
  margin: 30, 30, 30, 30;
  padding: 30, 30, 30, 30;
}
.QuickSneakers{
  color: white;
  font-size: 22px;
  border: 1px;

}

.Lorem {
  color: white;
  font-size: 9px;
margin-top: 30px;
margin-bottom: 30px;
break-after: auto;
}

.price {
  color: white;
  border: 1px;
  text-decoration: none;
}
.buynow {
  color: red;
  text-decoration: none;
  border: 1px;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-align: right;
}
h2 {
  font-size: 15px;
  font-weight: bold;
  border: 1px;
}

.contenthere {
  font-size: 8px;
  border: 1px;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  border: 1px;
}

h4 {
  font-size: 15px;
  font-weight: bold;
  border: 1px;
}

.read {
  font-size: 8px;
  border: 1px;
}

h5 {
  background-color: #fbdfe3;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  border: 1px;
}
.smallredbackground{
  background: linear-gradient(to right, #ff0066 0%, #cc0000 100%);
  border: 1px;
  height: 300px;
}
.shoe2{
  display: inline-block;
  width: 25%;
  margin-left: 125px;
}
.shoe3{
  display: inline-block;
  width: 25%;
  margin-left: 125px;
}
.shoe4{
  display: inline-block;
  width: 25%;
  margin-left: 125px;
}
.FunnySneakers {
  color: white;
  border: 1px;
}
.legal {
  color: gray;
  border: 1px;
  text-align: right;
  }
.copyright {
  color: gray;
  border: 1px;
  text-align: right;
}
