* {
  font-family: arial;
}

.header {
  margin: 10px 5px 10px 5px;
}

.logo {
  width: 60px;
  height: 40px;
  border: 1px;
  padding: 20px;
  vertical-align: top;
  display: inline-block;
}

.menulist {
  color: #ff512f;
  text-decoration: none;
  border: 1px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 12px 0 0;
  padding: 0;
  line-spacing: 5px;
  display: inline block;
  text-align: center;
  list-style-type: none;
}

.navigator {
  display: inline-block;
  border: 1px;
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  display: inline;
}

.help1 {
  color: red;
  text-decoration: none;
  border: 1px;
  float: right;
  vertical-align: -1px;
  margin-right: 2px;
  width: 20%;
  padding: 20px;
}

.help {
  color: red;
  text-decoration: none;
}

.myaccount {
  color: red;
  text-decoration: none;
  border: 1px;
}

.shoppingcart {
  color: red;
  text-decoration: none;
  text-align: right;
  border: 1px;
}

.backtoallshoes {
  color: white;
  text-decoration: none;
  border: 1px;
  margin: 40px;
  padding: 10px;
}

.redbackground {
  background: linear-gradient(to right, #ff0066 0%, #cc0000 100%);
  border: 1px;
  height: 600px;
}

.blackshoe {
  width: 100%;
  height: 100%;
  border: 1px;
  margin: 10px;
  display: inline-block;
}

.quicksneakersblock {
  margin: 0, 50, 0, 30;
  padding: 10, 10, 10, 10;
  text-align: right;
  border-color: black;
  vertical-align: -1px;
  display: inline-block;
  width: 40%;
}

.QuickSneakers {
  color: white;
  border: 1px;
  font-size: xx-large;
}

.anchorandshoe {
  margin-left: 10%;
  display: inline-block;
  width: 40%;
}

.Lorem {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  break-after: auto;
}

.price {
  color: white;
  border: 1px;
  text-decoration: none;
}

.buynowbutton {
  color: red;
  text-decoration: none;
  border: 1px;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-align: right;
}

a.buynowbutton:active, a.buynowbutton:hover {
  border-bottom-color: #fbc2c3;
}

.Product-Links {
  color: red;
  margin-right: 20px;
  display: block;
  padding: 10px;
  letter-spacing: 1px;
  float: left;
  width: 20%;
}

.navright {
  float: right;
  padding: 0 200px 0 0;
}

.product-section {
  height: 40%;
}

.Product-Details {
  color: red;
  text-decoration: none;
  float: left;
  margin-right: 5px;
}

.SizeandFit {
  color: red;
  text-decoration: none;
  float: left;
}

.Reviews {
  text-decoration: none;
  color: red;
}

.content {
  text-align: left;
  clear: both;
}

.excitingtopic {
  font-weight: bold;
  border: 1px;
  display: block;
}

.contenthere {
  border: 1px;
}

.findshoe {
  font-weight: bold;
  border: 1px;
}

.customers {
  font-weight: bold;
  border: 1px;
}

.read {
  border: 1px;
}

h5 {
  background-color: #fbdfe3;
  text-align: center;
  padding: 20px;
  border: 1px;
}

.smallredbackground {
  background: linear-gradient(to right, #ff0066 0%, #cc0000 100%);
  border: 1px;
  height: 300px;
}

.recomshoe {
  display: inline-block;
  width: 28%;
  margin-left: 5%;
}

.recomimgshoe {
  width: 25%;
}

.FunnySneakers {
  color: white;
  border: 1px;
}

.footer {
  padding: 5px;
}

.legal {
  border: 1px;
  vertical-align: -1px;
  margin-right: 2px;
  margin-top: 6px;
  float: right;
  padding: 20px;
}

.navigate {
  display: inline-block;
}

.copyright {
  color: gray;
  border: 1px;
  text-align: right;
  display: inline-block;
}
